.banner-home, .banner-about {
    border-radius: 25px;
    height: 225px;
    margin: 45px 40px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .banner-home {
    background-image: url("../assets/bannerHome.png");
    background-position: center;
  }
  
  
  .banner-about {
    background-image: url("../assets/bannerAbout.png");
    background-position: center;
  }
  
  .banner-img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  .banner-dark {
    background-color: #000000;
    border-radius: 25px;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .banner-txt {
    color: #ffffff;
    font-size: 50px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  
  @media screen and (min-width: 375px) and ( max-width: 767px) {
  
    .banner-home {
      border-radius: 10px;
      height: 115px;
      margin: 0 40px; 
      margin-bottom: 23px;
      position: relative;
    }
  
    .banner-about {
      border-radius: 10px;
      height: 223px;
      margin: 45px 40px;
      position: relative;
      background-image: url("../assets/BannerAboutMobile.png"); 
    }
    
    .banner-img {
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    
    .banner-dark {
      border-radius: 10px;
    }
  
    .banner-txt {
      font-size: 20px;
      line-height: 28px;
    }
  }