.info-logement {
    display: flex;
    justify-content: space-between;
    margin: 30px 100px 0;
  }
  
  .info-logement-info {
    color: #FF6060;
  }
  
  .info-logement-title {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
  }
  
  .info-logement-location {
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
  }
  
  .info-logement-host {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .host-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 93px;
    height: 52px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin-right: 10.5px;
    text-align: right;
    line-height: 26px;
  }
  
  .host-picture {
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  
  .info-logement-rating {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  
  .description-equipment {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 26px 100px 0;
    gap: 70px;
  }
  
  @media screen and (min-width: 375px) and ( max-width: 767px) {
    .info-logement {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 15px 20px 0px;
    }
    
    .info-logement-info {
      color: #FF6060;
    }
    
    .info-logement-title {
      margin: 0;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
    }
    
    .info-logement-location {
      margin: 5px 0 10px 0;
      font-size: 14px;
    }
  
    .info-logement-host-rating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 16px;
    }
    
    .info-logement-host {
      display: flex;
      align-items: center;
    }
    
    .host-name {
      display: flex;
      align-items: center;
      width: 80px;
      height: 33px;
      font-size: 12px;
      font-weight: 500;
      color: #FF6060;
      text-align: right;
      line-height: 17px;

    }
    
    .host-picture {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
    
    .info-logement-rating {
      align-items: center;
      margin-top: 0;
    }
    
    .stars {
      height: 16px;
    }
    
    .description-equipment {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      margin: 26px 20px 0;
      gap: 0;
    }
  }