.allStars {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .stars {
    margin-left: 10px;
  }
  
  @media screen and (min-width: 375px) and ( max-width: 767px) {
    .stars {
      margin-left: 5px;
      height: 16px;
    }
  }