.info-logement-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .tag-display {
    border: solid 1px #FF6060;
    width: 140px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
    background-color: #FF6060;
    color: #FFFFFF;
    margin-right: 10px;
  }

  .tag {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 375px) and ( max-width: 767px) {
    .tag-display {
      border: solid 1px #FF6060;
      width: 84px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      font-size: 10px;
      background-color: #FF6060;
      color: #FFFFFF;
      margin-right: 10px;
    }
  }